/* SECTION FLIGHT - START */
.flight {
  position: relative;
  min-height: 1080px;
  margin-bottom: 150px;
  background-image: url(../img/flight-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 6px 5px rgba(136, 136, 136, 0.3), 0px -6px 5px rgba(136, 136, 136, 0.3);
}

.flight-fly__featured {
  display: inline-block;
  margin-top: 550px;
  margin-bottom: 60px;
  font-family: "SFProDisplay", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}
.flight-fly__featured-link {
  padding: 18px 31px;
  color: white;
  letter-spacing: 2px;
  font-weight: 400;
  border-radius: 24px;
  transition: all 0.5s cubic-bezier(0.53, -0.91, 0.5, 1.81);
  background-color: rgba(0, 0, 0, 0.753);
  box-shadow: 0px 0px 5px red;
  transition: all 0.4s cubic-bezier(0.53, -0.91, 0.5, 1.81);
}
.flight-fly__featured-link:hover {
  padding: 18px 35px;
  letter-spacing: 4px;
  box-shadow: 0px 0px 7px red;
}
.flight-fly__title {
  max-width: 650px;
  color: white;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.5s cubic-bezier(0, 0.85, 0.09, 1.38) 0.5s;
  z-index: 2;
}
.flight-fly__title.active-anim {
  opacity: 1;
  transform: translateX(0);
}
.flight-fly__text {
  margin-top: 36px;
  max-width: 634px;
  margin-bottom: 80px;
  font-family: "SFCompactText", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: white;
  text-shadow: black 1px 0 8px;
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.5s cubic-bezier(0, 0.85, 0.09, 1.38) 0.6s;
  z-index: 2;
}
.flight-fly__text.active-anim {
  opacity: 1;
  transform: translateX(0);
}
.flight-fly__buttom {
  display: inline-block;
  margin-bottom: 120px;
  font-family: "SFProDisplay", sans-serif;
  font-size: 12px;
  text-shadow: 3px 3px 3px gray;
}
.flight-fly__buttom-link {
  padding: 33px 50px;
  color: white;
  letter-spacing: 2px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.61);
  box-shadow: 0px 0px 5px red;
  transition: all 0.4s cubic-bezier(0.53, -0.91, 0.5, 1.81);
}
.flight-fly__buttom-link:hover {
  padding: 33px 60px;
  letter-spacing: 4px;
}

.flight-stories {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 478px;
  background-color: rgba(60, 74, 81, 0.94);
}
.flight-stories__container {
  padding: 100px 70px 100px 70px;
}
.flight-stories__title {
  max-width: 368px;
  margin-bottom: 100px;
  font-family: "SFProDisplay", sans-serif;
  font-size: 64px;
  line-height: 80px;
  color: white;
  text-shadow: 6px 6px 3px rgba(0, 56, 19, 0.514);
  opacity: 0;
  transform: translateY(-200px);
  transition: all 0.5s cubic-bezier(0, 0.85, 0.09, 1.38) 0.5s;
}
.flight-stories__title.active-anim {
  opacity: 1;
  transform: translateX(0);
}
.flight-stories__comment-ico {
  display: block;
  height: 48px;
  align-self: flex-start;
  box-shadow: 4px 4px 3px rgba(0, 56, 19, 0.514);
  border-radius: 50%;
  border: solid 1px white;
}
.flight-stories__comment {
  display: flex;
  margin-top: 33px;
  border-bottom: gray solid 1px;
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.5s cubic-bezier(0, 0.85, 0.09, 1.38) 0.5s;
}
.flight-stories__comment.active-anim {
  opacity: 1;
  transform: translateX(0);
}
.flight-stories__comment div {
  padding-left: 33px;
}
.flight-stories__comment:last-child {
  border-bottom: none;
}
.flight-stories__comment:first-child {
  margin-top: 0px;
}
.flight-stories__text {
  margin-bottom: 10px;
  font-family: "SFProDisplay", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-shadow: 6px 6px 3px rgba(0, 56, 19, 0.514);
}
.flight-stories__date {
  margin-bottom: 32px;
  font-family: "SFProText", sans-serif;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.502293);
  text-shadow: 6px 6px 3px rgba(0, 56, 19, 0.514);
}

@media (max-width: 1390px) {
  .flight-container {
    padding: 0px 20px;
  }
}
@media (max-width: 1200px) {
  .flight {
    margin-bottom: 70px;
  }

  .flight-fly__title {
    max-width: 600px;
  }

  .flight-fly__text {
    max-width: 600px;
  }

  .flight-stories {
    position: static;
    top: 0px;
    left: 0px;
    height: auto;
    width: 100%;
    background-color: rgba(60, 74, 81, 0.8);
  }

  .flight-fly__featured {
    margin-top: 100px;
  }

  .flight-stories__container {
    max-width: 580px;
    padding: 40px 20px 40px 20px;
  }

  .flight-stories__title {
    max-width: 568px;
    margin-bottom: 60px;
  }
}
@media (max-width: 400px) {
  .flight-stories__title {
    font-size: 50px;
    line-height: 57px;
  }
}
/* SECTION FLIGHT - END */