/* SECTION FLIGHT - START */
.flight {
  position: relative;
  min-height: 1080px;
  margin-bottom: 150px;
  background-image: url(../img/flight-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.flight-container {
  max-width: 1350px;
  margin: 0 auto;
}

.fly-featured {
  display: inline-block;
  margin-top: 550px;
  margin-bottom: 40px;
  font-family: "SFProDisplay", sans-serif;
  font-size: 11px;
}

.fly-featured__link {
  padding: 18px 31px;
  color: white;
  background-color: #E8594E;
  border-radius: 24px;
  transition: 0.2s;
}

.fly-featured__link:hover {
  padding: 18px 35px;
  letter-spacing: 3px;
  background-color: #ec3528;
  transition: 0.2s;
}

.fly-title {
  max-width: 650px;
  margin-bottom: 16px;
  color: white;
}

.fly-text {
  max-width: 634px;
  margin-bottom: 70px;
  font-family: "SFCompactText", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: white;
}

.fly-buttom {
  display: inline-block;
  margin-bottom: 120px;
  font-family: "SFProDisplay", sans-serif;
  font-size: 12px;
}

.fly-buttom__link {
  padding: 33px 79px;
  color: white;
  background-color: #73AFBA;
  border-radius: 8px;
  transition: 0.2s;
}

.fly-buttom__link:hover {
  padding: 33px 85px;
  letter-spacing: 3px;
  background-color: #46a9bb;
  transition: 0.2s;
}

.flight-stories {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 1080px;
  width: 478px;
  background-color: rgba(60, 74, 81, 0.94);
}

.flight-stories-container {
  padding: 100px 70px 100px 70px;
}

.stories-title {
  max-width: 368px;
  margin-bottom: 100px;
  font-family: "SFProDisplay", sans-serif;
  font-size: 64px;
  line-height: 80px;
  color: white;
}

.stories-ico {
  display: block;
  height: 48px;
  padding-right: 33px;
  align-self: flex-start;
}

.stories-comment {
  display: flex;
  margin-top: 33px;
  border-bottom: gray solid 1px;
}

.stories-comment:last-child {
  border-bottom: none;
}

.stories-comment:first-child {
  margin-top: 0px;
}

.stories-text {
  margin-bottom: 10px;
  font-family: "SFProDisplay", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.stories-date {
  margin-bottom: 32px;
  font-family: "SFProText", sans-serif;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.502293);
}

@media (max-width: 1390px) {
  .flight-container {
    padding: 0px 20px;
  }
}
@media (max-width: 1200px) {
  .fly-title {
    max-width: 600px;
  }

  .fly-text {
    max-width: 600px;
  }

  .fly-featured {
    margin-top: 250px;
  }

  .flight-stories {
    position: static;
    top: 0px;
    left: 0px;
    height: auto;
    width: 100%;
    background-color: rgba(60, 74, 81, 0.8);
  }

  .fly-featured {
    margin-top: 100px;
  }

  .flight-stories-container {
    max-width: 580px;
    padding: 40px 20px 40px 20px;
  }

  .stories-title {
    max-width: 568px;
    margin-bottom: 60px;
  }
}
@media (max-width: 1000px) {
  .flight {
    margin-bottom: 70px;
  }
}
@media (max-width: 400px) {
  .stories-title {
    font-size: 50px;
    line-height: 57px;
  }
}
/* SECTION FLIGHT - END */