
/* HEADER - START */

/* HEADER (FOR JAVA SCRIPT) */

.header-background-opacity-25 {
    background: linear-gradient(to top, rgba(0, 19, 12, 0.25), rgba(0, 59, 39, 0.25));
    border-bottom: 1px solid rgb(100%, 100%, 100%, 0.25);
    z-index: 10000;
}

.header-background-opacity-50 {
    background: linear-gradient(to top, rgba(0, 19, 12, 0.5), rgba(0, 59, 39, 0.5));
    border-bottom: 1px solid rgb(100%, 100%, 100%, 0.5);
    z-index: 10000;
}

.header-background-opacity-75 {
    background: linear-gradient(to top, rgba(0, 19, 12, 0.75), rgba(0, 59, 39, 0.75));
    border-bottom: 1px solid rgb(100%, 100%, 100%, 0.75);
    z-index: 10000;
}

.header-background-opacity-100 {
    background: linear-gradient(to top, rgba(0, 19, 12, 0.96), rgba(0, 59, 39, 0.96));
    border-bottom: 1px solid rgb(100%, 100%, 100%, 1.0);
    z-index: 10000;
}

/* HEADER (FOR JAVA SCRIPT) */

.body {
    position: relative;
    font-family: 'SFProDisplay', sans-serif;
}

.header {
    position: fixed;
    z-index: 10000;
    width: 100%;

    &__company-name {
        font-family: 'SFProDisplay', sans-serif;
        font-size: 22px;
        letter-spacing: 2px;
        font-weight: 600;
        color: white;
        text-shadow: -5px 5px 20px rgb(0, 19, 12);
    }
    
	
    
}
.header-container {
    
    display: flex;
    justify-content: space-between;
    max-width: 1350px;
    margin: 0 auto;
    padding: 20px 0px;
}
.header-social {

    &__link {
        margin-right: 40px;
    }
    &__icon {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 0.2s;
    }
    &__icon:hover {
        transform: scale(1.5, 1.5);
        transition: 0.2s;
    }
}

.header-social a:last-child {
    margin-right: 0px;
}


.header-burger {
    background: none;
    border: none;
    transition: 0.2s;
    &__ico {

    }
}

.header-burger:hover {
    transform: scale(1.1, 1.4);
    transition: 0.2s;
}

.header-menu {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 999;
    transform: translateY(-1000px);
    padding-top: 30px;
    width: 100%;
    background: linear-gradient(to top, rgb(0, 19, 12), rgb(0, 59, 39));
    border-bottom: 1px solid rgb(255, 255, 255);
    transition: transform 0.5s;
    &__wrapper {
        max-width: 1390px;
        margin: 0 auto;
    }
    &__close-button {
        position: relative;
    }
    &__close-link {
        position: absolute;
        top: -10px;
        right: 20px;
        height: 25px;
    }
    &__mav {
	}
	&__list {
        
	}
	&__item {
        margin-left: 30px;
        margin-bottom: 15px;
        padding: 0px 20px;
        text-align: end;
	}
    &__item:first-child {
        margin-top: 20px;
    }
    &__item:last-child {
        margin-bottom: 20px;
	}
    &__link:hover {
        padding-right: 12px;
        color: #ffffff;
        border-right: 2px solid #ffffff;
        transition: 0.2s;
	}
    &__link {
        font-family: 'SFProDisplay', sans-serif;
        font-size: 22px;
        letter-spacing: 2px;
        color: rgb(255, 255, 255);
        border-right: 1px solid #ffffff00;
        transition: 0.3s;
    }
}
.header-menu-active {
    transform: translateY(0px);
    transition: transform 0.3s;
}


@media (max-width: 1390px) {
    .header {
        padding: 0px 20px;
    }
}

@media (max-width: 500px) {
    .header-social__link {
        margin-right: 20px;
    }
}

/* HEADER - END */
