
/* SECTION MOTHER EARTH - START */

input[type='text'] { 
    font-family: 'SFProDisplay', sans-serif;
    font-size: 16px; 
}

.intro-section {
    margin-bottom: 150px;
    min-height: 100vh;
    background-image: url(../img/Background.jpg);
    box-shadow: 0px 5px 10px rgb(102, 102, 102);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 160px;
        max-width: 1350px;
        margin: 0 auto;
    }

    &__content {

    }

    &__link {
        padding: 18px 30px;
        font-family: 'SFProDisplay', sans-serif;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 2px;
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 5px red;
        border-radius: 100px;
        transition: 0.2s;
    }
    &__link:hover {
        padding: 18px 40px;
        letter-spacing: 6px;
        background-color: rgba(0, 0, 0, 0.6);
        box-shadow: 0px 0px 8px red;
        transition: 0.2s;
    }
    &__title { 
        margin-bottom: 60px;
        max-width: 534px;
        padding-left: 20px;
        font-family: 'SFProDisplay', sans-serif; 
        font-weight: 700;
        font-size: 80px;
        line-height: 84px;
        color: white;
        text-shadow: 0px 0px 30px rgb(0, 0, 0);
        border-left: 2px solid white;
    }

    &__text {
        max-width: 500px;
        margin-bottom: 60px;
        font-family: 'SFCompactText', sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: white;
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
    }

    &__big-button {
        position: relative;
        margin-bottom: 70px;
        padding: 33px 82px;
        overflow: hidden;
        font-family: 'SFProDisplay', sans-serif;
        border-radius: 8px;
        color: white;
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.658);
        border: 2px solid rgba(0, 0, 0, 0.55);
        background: linear-gradient(#ff6d62, #cc0e00);
        box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.349);
        transition: 0.2s;
    }
    &__big-button:hover {
        padding: 33px 90px;
        letter-spacing: 3px;
        transition: 0.2s;
    }
    
    &__button {
        margin-bottom: 70px;
    }
}

@media (max-width: 1390px) {
    .intro-section {
        padding: 0px 20px;
    }
}

@media (max-width: 1000px) {
    .intro-section {
        margin-bottom: 60px;
    }
    .intro-section__title { 
        font-size: 60px;
        line-height: 64px;
    }
}

/* SECTION MOTHER EARTH - END */