
/* SECTION SIGN UP - START */

input[type='name'],[type='email'],[type='tel'] { 
    font-family: 'SFProDisplay', sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sign-up {
    position: relative;
    min-height: 768px;
    max-width: 1350px;
    margin: 0 auto;
    background-image: url(../img/sign-up-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
    box-shadow: 0px 6px 3px rgba(136, 136, 136, 0.2), 0px -6px 3px rgba(136, 136, 136, 0.2), 6px 0px 3px rgba(136, 136, 136, 0.2), -6px 0px 3px rgba(136, 136, 136, 0.2);

    &__container {
        max-width: 1080px;
        margin: 0 auto;
    }

    &__content {
        padding-top: 300px;
    }

    &__title {
        padding-left: 20px;
        margin-bottom: 40px;
        max-width: 368px;
        font-family: 'SFProDisplay', sans-serif;
        font-size: 64px;
        line-height: 80px;
        color: white;
        border-left: 3px solid rgb(255, 255, 255);
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 1.0);
    }

    &__text {
        max-width: 368px;
        padding-right: 20px;
        font-family: 'SFCompactText', sans-serif;
        font-size: 16px;
        line-height: 21px;
        color: white;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 1.0);
    }

    &__form {
        position: absolute;
        right: 133px;
        bottom: -98px;
        display: flex;
        flex-direction: column;
        max-width: 501px;
        width: 100%;
        border-radius: 8px ;
        
    }
}
.form {
    display: flex;
    flex-direction: column;
    padding: 30px 0px 50px 0px;
    background-color:white;
    border-radius: 8px 8px 0px 0px;
    border: 3px solid rgba(128, 128, 128, 0.5);
    border-bottom: none;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.486);
}
.form-input {
    margin: 0px 72px;
    padding: 24px 0px;
    background: transparent; 
    border-bottom: 1px solid #1c2e3d54;
    transition: 0.2s;
}
.form-input:hover {
    padding: 24px 15px;
    transition: 0.2s;
}
.form-input::placeholder {
    font-family: 'SFProDisplay', sans-serif;
    font-size: 11px;
    letter-spacing: 4px;
    color: black;
    
}
.form-button {
    padding: 41px 0px;
    max-width: 501px;
    font-family: 'SFProDisplay', sans-serif;
    font-size: 12px;
    letter-spacing: 3.18182px;
    font-weight: 600;
    color: white;
    text-shadow: 3px 3px 1px rgba(139, 139, 139, 0.5);
    border-radius: 0px 0px 8px 8px;
    background-color: #73AFBA;
    border: 3px solid rgba(128, 128, 128, 0.9);
    border-top: none;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.486);
    transition: 0.3s;
}
.form-button:hover {
    background-color: #0093ad;
    transition: 0.2s;
}
@media (max-width: 1350px) {
    .sign-up {
        border-radius: 0px;
    }
}
@media (max-width: 1260px) {
    .sign-up {
        &__content {
            padding-left: 20px;
        }
        
        &__content {
            padding-top: 70px;
        }
        &__form {
            left: auto;
            right: auto;  
            padding: 0px 20px;
        }
        
    }
}

@media (max-width: 505px) {
    .form-input {
        padding: 24px 0px;
        margin: 0px 40px;
        background: transparent; 
        border-bottom: 1px solid #1c2e3d54;
        transition: 0.2s;
    }
}
@media (max-width: 500px) {
    .sign-up__title {
        padding-right: 20px;
        font-size: 55px;
        line-height: 65px;
    }
    .sign-up__content {
        padding-top: 120px;
    }
}

@media (max-width: 400px) {
    .sign-up__title {
        font-size: 50px;
        line-height: 57px;
    }
}

/* SECTION SIGN UP - END */